@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
html,
body {
  padding: 0;
  margin: 0;

  background-color: #0f3649;

  font-family: "Fredoka One", cursive, Roboto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borderContainers {
    @apply md:border-[#59D6F6];
  }
}
